.photo-grid {
    max-width: 1184px;
    margin:0 auto;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, minmax(284px, 1fr));
    grid-template-rows: repeat(3, minmax(213px, 1fr));
    grid-gap: 16px;
}

