.places {
    max-width: 984px;
    margin: 92px 148px 0;
}

@media screen and (max-width:1025px) {
    .places {
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (max-width: 769px) {
    .places {
        padding-left:24px;
        padding-right: 24px;
    }
}