.header {
    width: calc(100% - 96px);
    padding: 28px 48px 56px 48px;
    display:flex;
    justify-content: space-between;
}

@media screen and (max-width: 1025px) {
    .header {
        padding-bottom: 48px;
    }
}