.intro__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    margin: 0 0 33px;
    color: #FFFFFF;
    max-width: 690px;
}

@media screen and (max-width: 426px) {
    .intro__text {
        margin-bottom: 34px;
    }
}